html {
    background: url(https://media.giphy.com/media/3Z1b8Z5ESU2fgScGab/giphy.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    align-self: center;
}